<%# navbar %>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top nav-color">
            <div class="container-fluid">
                <div class="img-logo">
                    <a class="navbar-brand" href="#">
                        <img src="images/logo.jpg" class="d-inline-block  " alt=" this is logo">
                        <span class="align-middle">DR.FAHIMS FOUNDATION</span>
                    </a>
                </div>
                <button class="navbar-toggler" href="#offcanvasExample" role="button" data-bs-toggle="offcanvas"
                    aria-controls="offcanvasExample">
                    <i  class="fa-solid fa-bars "></i>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                    aria-labelledby="offcanvasExample">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExample">Offcanvas</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 me-5 ">
                            <li class="nav-item dropdown  form-text">
                                <a class="nav-link active text-white" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Programmes
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">IT Courses</a></li>
                                    <li><a class="dropdown-item" href="#">Vocational Courses</a></li>
                                    <li>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Yoga And Naturopathy Courses</a></li>
                                </ul>
                            </li>
                        
                            <li class="nav-item ps-3 form-text">
                                <a class="nav-link active text-white" href="#">Franchise</a>
                            </li>
                            <li class="nav-item ps-3 form-text">
                                <a class="nav-link active text-white" href="#">Student Corner</a>
                            </li>
                            <li class="nav-item ps-3 form-text">
                                <a class="nav-link active text-white" href="#">Verification</a>
                            </li>
                            <li class="nav-item ps-3 form-text">
                                <a class="nav-link active text-white" href="#">Login</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <script src="js/main.js"></script>