<%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>



    <main>
      <div class="container-fluid g-0 ">
        <div class="row bg-image g-0 ">
          <div class="col-md-8 col-sm-12	col-md-8	col-lg-8	col-xl-8	col-xxl-8 box1">
            <div class=" px-5 text-center text-lg-start mb-5">
              <h2 class="head px-3">All India Council for Vocational & Paramedical Science</h2>
              <p class="line"></p>
              <button class="btn mx-3 regiter-btn shadow-lg" type="button">Regiter</button>
            </div>
            <div class="icon">
              <a href="#">
                <i class="fa-brands fa-facebook f"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-twitter t"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-instagram in"></i>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12	col-md-4	col-lg-4	col-xl-4	col-xxl-4 box2 ">
            <div class="h-100 login mx-auto ">
              <h2 class="text-center form-head-text">Franchise Enquiry</h2>

              <form action="/" method="post">
                <div class="form-floating mb-3 p-2">
                  <input type="text" class="form-control   shadow-lg" placeholder="Name">
                  <label id="input-name" for="floatingPassword">Name</label>
                </div>

                <div class="form-floating mb-3 p-2">
                  <input type="number" class="form-control     shadow-lg" placeholder="Phone no">
                  <label for="floatingPassword">Phone no</label>
                </div>

                <div class="form-floating mb-3 p-2">
                  <input type="email" class="form-control   shadow-lg" data-sb-feedback="message:required"
                    placeholder="Email">
                  <label for="floatingPassword">Email</label>
                </div>
                <!-- city State -->
                <div class="form-floating mb-2 p-2">
                  <select class="form-select form-select-lg  shadow-lg   p-2" style="background-color: #ffc635;">
                    <option value="" class="">

                      State</option>
                    <option label="Andaman and NicoBar Island " value="5">Andaman and NicoBar
                      Island
                    </option>
                    <option label="Andhra Pradesh" value="3042">Andhra Pradesh</option>
                    <option label="Arunachal Pradesh" value="6">Arunachal Pradesh</option>
                    <option label="Assam" value="7">Assam</option>
                    <option label="Bihar" value="8">Bihar</option>
                    <option label="Chandigarh" value="9">Chandigarh</option>
                    <option label="Chhattisgarh" value="10">Chhattisgarh</option>
                    <option label="Dadra and Nagar Haveli" value="11">Dadra and Nagar Haveli
                    </option>
                    <option label="Daman and Diu" value="12">Daman and Diu</option>
                    <option label="Delhi" value="13">Delhi</option>
                    <option label="Goa" value="14">Goa</option>
                    <option label="Gujarat" value="15">Gujarat</option>
                    <option label="Haryana" value="16">Haryana</option>
                    <option label="Haryana" value="4047">Haryana</option>
                    <option label="Himachal Pradesh" value="17">Himachal Pradesh</option>
                    <option label="Jammu and Kashmir" value="18">Jammu and Kashmir</option>
                    <option label="Jharkhand" value="19">Jharkhand</option>
                    <option label="Karnataka" value="20">Karnataka</option>
                    <option label="Kerala" value="21">Kerala</option>
                    <option label="Lakshadweep" value="22">Lakshadweep</option>
                    <option label="Madhya Pradesh" value="23">Madhya Pradesh</option>
                    <option label="Maharashtra" value="24">Maharashtra</option>
                    <option label="Manipur" value="25">Manipur</option>
                    <option label="Meghalaya" value="26">Meghalaya</option>
                    <option label="Mizoram" value="27">Mizoram</option>
                    <option label="Nagaland" value="28">Nagaland</option>
                    <option label="Odisha" value="29">Odisha</option>
                    <option label="Puducherry" value="30">Puducherry</option>
                    <option label="Punjab" value="31">Punjab</option>
                    <option label="Rajasthan" value="32">Rajasthan</option>
                    <option label="Sikkim" value="33">Sikkim</option>
                    <option label="Tamil Nadu" value="34">Tamil Nadu</option>
                    <option label="Telangana" value="3044">Telangana</option>
                    <option label="Tripura" value="35">Tripura</option>
                    <option label="Uttar Pradesh" value="36">Uttar Pradesh</option>
                    <option label="Uttarakhand" value="37">Uttarakhand</option>
                    <option label="West Bengal" value="38">West Bengal</option>
                  </select>

                </div>
                <!-- city select -->
                <div class="form-floating mb-2 p-2">
                  <select class="form-select form-select-lg   shadow-lg  p-2" aria-label=".form-select-lg example"
                    style="background-color: #ffc635;;">
                    <option value="" class="">
                      City</option>

                  </select>
                </div>

                <div class="form-floating p-2">
                  <textarea class="form-control   shadow-lg" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 100px" style="background-color: #ffc635;"></textarea>
                  <label for="floatingTextarea2">Address</label>
                </div>
                <button type="submit" class="btn mt-4 submit mx-2 shadow-lg">Submit</button>
                <div class="h5 mt-4 mx-2 mb-3"><strong>Call Us Toll Free No.: <a href="tel:+917070707675"
                      class="text-white">+(91) - 70 70 70 76 75</a>
                  </strong></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <section>
      <div class=" text-center record ">
        <div class="row">
          <div class="col p-4">
            <b>900</b><br>
            <span> Certified Students</span>
          </div>
          <div class="col p-4">

            <b>1000</b><br>
            <span>Total Students</span>
          </div>
          <div class="col p-4">
            <b>1000</b><br>
            <span> Our Franchises</span>
          </div>
          <div class="col p-4">
            <b>100</b><br>
            <span>Our Visitors</span>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container-fluid ">
        <div class="row overflow-hidden" style="background-color:  #ffc635; font-weight: 600">
          <div class="col-lg-6 ">
            <h1 class="display-5  px-4 mt-4" style="color:#18162B; font-weight: 500;">About Us</h1>
            <p class="px-4">Education Is The Key to Success</p>
            <p class="line-about px-5 mb-4"></p>
            <p class="  px-4" style="font-size: 1rem;font-weight: 600; word-spacing: 5px;">The AICVPS With Its Central
              Office In Delhi
              Was Established Under Article 29 and 30 (1) of Constitution of India And Incorporated Under The
              Legislation of Government of India With an Aim To Minimize Shortfall In Trained and Qualified Paramedics.


            </p>
            <p class="  px-4" style="font-size: 1rem;font-weight: 600; word-spacing: 5px;">We Promote Quality
              Education, Training and
              Research In Health and Medicine and Provide Affiliation to
              Institutes Registered With us. We Register Qualified College/University or Individuals For World-Class
              Training in Paramedical Science and Futuristic Practice.
            </p>

          </div>
          <div class="col-lg-6 g-0 ">
            <img class="img-fluid" src='images/about.jpg' alt="" width="100%" style="height:100%">
          </div>
        </div>
      </div>

    </section>

    <section>
      <div class=" text-center mt-5">
        <div class="display-6 mb-3 " style="color:#18162B; font-weight: 900; letter-spacing: 2px;">
          The Next Step For Your Career
        </div>
        <div class="card-body">
          <p class="line2 mx-auto"></p>
          <p class="card-text h5">We Promote Quality Education, Training and Research In Health and Medicine
            and Provide Affiliation to Institutes Registered With us. </p>

        </div>

      </div>
    </section>

    <!-- card box -->
    <section>
      <div class="container mt-5">
        <div class="owl-carousel owl-theme" style="height: auto;">
          <div class="item">
            <div class="card shadow-lg">
              <div class="img-box">
                <img src="https://source.unsplash.com/random/1920x1080/?Vocational';
                " class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">IT Coures</h5>
                <hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card shadow-lg">
              <div class="img-box">
                <img src="https://source.unsplash.com/random/1920x1080/?landscape';
                " class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Vocational Courses</h5>
                <hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card shadow-lg">
              <div class="img-box">
                <img src="https://source.unsplash.com/random/1920x1080/?wallpaper,student';
                " class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Yoga and Naturopathy Courese</h5>
                <hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card shadow-lg">
              <div class="img-box">
                <img src="https://source.unsplash.com/random/1920x1080/?college';
                " class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Paramedical Courese</h5>
                <hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card shadow-lg">
              <div class="img-box">
                <img src="https://source.unsplash.com/random/1920x1080/?animals';
                " class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Veterinary Courese</h5>
                <hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card shadow-lg">
              <div class="img-box">
                <img src="https://source.unsplash.com/random/1920x1080/?car';
                " class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Fire Safety Courses</h5>
                <hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary border-0">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card shadow-lg">
              <div class="img-box">
                <img src="https://source.unsplash.com/random/1920x1080/?boy';
                " class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">NTT Courses</h5>
                <hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary border-0">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card shadow-lg">
              <div class="img-box">
                <img src="https://source.unsplash.com/random/1920x1080/?car';
                " class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Agriculture Courese</h5>
                <hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card shadow-lg">
              <div class="img-box">
                <img src="https://source.unsplash.com/random/1920x1080/?food';
                " class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Apparel Courese</h5>
                <hr>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </section>

    <section>
      <div class="bg-slecter  ">
        <div class="text-center ">
          <div class="container py-5">
            <h6 style="font-size: 2.7rem; font-weight: 900;">You Can Choose Where To Get Education</h6>
            <p class="col-lg-8 text-white mx-auto lead">
              Whatever You Are, Be A Good One

            </p>
            <p class="line2 mx-auto"></p>
            <div class="">
              <div class="row mx-4">
                <div class="col-lg-3 mx-auto  mt-3">
                  <div class="input-group mb-3">

                    <select class="form-select p-2" id="inputGroupSelect03"
                      aria-label="Example select with button addon" style="font-size: 1.1rem;">
                      <option selected>Choose...</option>
                      <option label="Andhra Pradesh" value="3042">Andhra Pradesh</option>
                      <option label="Arunachal Pradesh" value="6">Arunachal Pradesh</option>
                      <option label="Assam" value="7">Assam</option>
                      <option label="Bihar" value="8">Bihar</option>
                      <option label="Chandigarh" value="9">Chandigarh</option>
                      <option label="Chhattisgarh" value="10">Chhattisgarh</option>
                      <option label="Dadra and Nagar Haveli" value="11">Dadra and Nagar Haveli
                      </option>
                      <option label="Daman and Diu" value="12">Daman and Diu</option>
                      <option label="Delhi" value="13">Delhi</option>
                      <option label="Goa" value="14">Goa</option>
                      <option label="Gujarat" value="15">Gujarat</option>
                      <option label="Haryana" value="16">Haryana</option>
                      <option label="Haryana" value="4047">Haryana</option>
                      <option label="Himachal Pradesh" value="17">Himachal Pradesh</option>
                      <option label="Jammu and Kashmir" value="18">Jammu and Kashmir</option>
                      <option label="Jharkhand" value="19">Jharkhand</option>
                      <option label="Karnataka" value="20">Karnataka</option>
                      <option label="Kerala" value="21">Kerala</option>
                      <option label="Lakshadweep" value="22">Lakshadweep</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 mx-auto  mt-3">
                  <div class="input-group mb-3">

                    <select class="form-select p-2" id="inputGroupSelect03"
                      aria-label="Example select with button addon" style="font-size: 1.1rem;">
                      <option selected>Choose...</option>
                      <option label="Andhra Pradesh" value="3042">Andhra Pradesh</option>
                    <option label="Arunachal Pradesh" value="6">Arunachal Pradesh</option>
                    <option label="Assam" value="7">Assam</option>
                    <option label="Bihar" value="8">Bihar</option>
                    <option label="Chandigarh" value="9">Chandigarh</option>
                    <option label="Chhattisgarh" value="10">Chhattisgarh</option>
                    <option label="Dadra and Nagar Haveli" value="11">Dadra and Nagar Haveli
                    </option>
                    <option label="Daman and Diu" value="12">Daman and Diu</option>
                    <option label="Delhi" value="13">Delhi</option>
                    <option label="Goa" value="14">Goa</option>
                    <option label="Gujarat" value="15">Gujarat</option>
                    <option label="Haryana" value="16">Haryana</option>
                    <option label="Haryana" value="4047">Haryana</option>
                    <option label="Himachal Pradesh" value="17">Himachal Pradesh</option>
                    <option label="Jammu and Kashmir" value="18">Jammu and Kashmir</option>
                    <option label="Jharkhand" value="19">Jharkhand</option>
                    <option label="Karnataka" value="20">Karnataka</option>
                    <option label="Kerala" value="21">Kerala</option>
                    <option label="Lakshadweep" value="22">Lakshadweep</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 mx-auto mt-3">
                  <div class="input-group mb-3 ">

                    <select class="form-select p-2 px-4" id="inputGroupSelect03"
                      aria-label="Example select with button addon" style="font-size: 1.1rem;">
                      <option selected>--Select Courses--</option>
                      <option label="Andhra Pradesh" value="3042">Andhra Pradesh</option>
                      <option label="Arunachal Pradesh" value="6">Arunachal Pradesh</option>
                      <option label="Assam" value="7">Assam</option>
                      <option label="Bihar" value="8">Bihar</option>
                      <option label="Chandigarh" value="9">Chandigarh</option>
                      <option label="Chhattisgarh" value="10">Chhattisgarh</option>
                      <option label="Dadra and Nagar Haveli" value="11">Dadra and Nagar Haveli
                      </option>
                      <option label="Daman and Diu" value="12">Daman and Diu</option>
                      <option label="Delhi" value="13">Delhi</option>
                      <option label="Goa" value="14">Goa</option>
                      <option label="Gujarat" value="15">Gujarat</option>
                      <option label="Haryana" value="16">Haryana</option>
                      <option label="Haryana" value="4047">Haryana</option>
                      <option label="Himachal Pradesh" value="17">Himachal Pradesh</option>
                      <option label="Jammu and Kashmir" value="18">Jammu and Kashmir</option>
                      <option label="Jharkhand" value="19">Jharkhand</option>
                      <option label="Karnataka" value="20">Karnataka</option>
                      <option label="Kerala" value="21">Kerala</option>
                      <option label="Lakshadweep" value="22">Lakshadweep</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 mx-auto mt-3">
                  <div class="input-group ">
                    <button class="btn btn-selecter-color px-4 shadow-lg" type="button" style="font-size: 1.1rem;">Book
                      Now</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="p-3 shadow-lg">
      <div class="container mt-4 mb-4 book-bg">
        <div class="row  ">
          <div class="col-lg-7  mt-5">
            <p style="font-size: 1.5vw;">Keep all your questions and career goals ready and</p>
            <p class="fs-4 blod"> Schedule a free counselling session</p>
          </div>
          <div class="col-lg-5 mt-5 ">
            <div class="d-grid gap-1">
              <button class="btn  book-btn p-3 shadow-lg" type="button">Book now</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Three columns of text below the carousel -->
    <section>
      <div class="container   mt-5 mb-5">

        <div class="row ">
          <div class="col-lg-4 p-2 ">
            <div class=" text-center shadow-lg p-2   " style="  color: #000000; border-radius: 5%;">
              <img class="bd-placeholder-img rounded-circle mt-1 " src="images/nur1.jpg" width="140" height="140"
                style="object-fit: cover; border: 5px solid  #ffc635;" alt=""><br>
              <span>⭐⭐⭐</span>
              <div class="text-box">
                <h2 class="fw-normal mt-2">Heading</h2>
                <p class="text-center mt-2">Some representative placeholder content for the three columns of text below
                  the carousel. This is the first
                  column.</p>
              </div>
              <p class="mt-5"><a class="btn btn-star" href="#">View details
                  »</a></p>
            </div><!-- /.col-lg-4 -->
          </div>
          <div class="col-lg-4 p-2">
            <div class=" text-center shadow-lg p-2   " style=" color: #000000; border-radius: 5%;">

              <img class="bd-placeholder-img rounded-circle mt-1" src="images/nur2.jpg" width="140" height="140"
                style="object-fit: cover; border: 5px solid  #ffc635;" alt=""><br>
              <span>⭐⭐⭐⭐⭐</span>
              <div class="text-box">
                <h2 class="fw-normal mt-2">Heading</h2>
                <p class="text-center mt-2">Some representative placeholder content for the three columns of text below
                  the carousel. This is the first
                  column.</p>
              </div>
              <p class="mt-5"><a class="btn btn-star" href="#">View details
                  »</a></p>
            </div><!-- /.col-lg-4 -->
          </div>
          <div class="col-lg-4 p-2">
            <div class=" text-center shadow-lg p-2   " style="  color: #000000; border-radius: 5%;">
              <img class="bd-placeholder-img rounded-circle mt-1" src="images/nur3.jpg" width="140" height="140"
                style="object-fit: cover; border: 5px solid  #ffc635;" alt=""><br>
              <span>⭐⭐⭐⭐</span>
              <div class="text-box">
                <h2 class="fw-normal mt-2">Heading</h2>
                <p class="text-center mt-2">Some representative placeholder content for the three columns of text below
                  the carousel. This is the first
                  column.</p>
              </div>
              <p class="mt-5"><a class="btn btn-star" href="#">View details
                  »</a></p>
            </div><!-- /.col-lg-4 -->
          </div>
          <!-- <div class="col-lg-4 p-2">
            <div class=" text-center shadow-lg p-2   " style="  color: #000000; border-radius: 5%;">
              <img class="bd-placeholder-img rounded-circle mt-1" src="images/nur4.jpg" width="140" height="140"
                style="object-fit: cover; border: 5px solid  #ffc635;" alt=""><br>
              <span>⭐⭐⭐⭐</span>
              <div class="text-box">
                <h2 class="fw-normal mt-2">Heading</h2>
                <p class="text-center mt-2">Some representative placeholder content for the three columns of text below
                  the carousel. This is the first
                  column.</p>
              </div>
              <p class="mt-5"><a class="btn btn-star" href="#"  >View details
                  »</a></p>
            </div>
          </div>
          <div class="col-lg-4 p-2">
            <div class=" text-center shadow-lg p-2   " style="  color: #000000; border-radius: 5%;">
              <img class="bd-placeholder-img rounded-circle mt-1" src="images/nur5.jpg" width="140" height="140"
                style="object-fit: cover; border: 5px solid  #ffc635;" alt=""><br>
              <span>⭐⭐⭐⭐</span>
              <div class="text-box">
                <h2 class="fw-normal mt-2">Heading</h2>
                <p class="text-center mt-2">Some representative placeholder content for the three columns of text below
                  the carousel. This is the first
                  column.</p>
              </div>
              <p class="mt-5"><a class="btn btn-star" href="#"  >View details
                  »</a></p>
            </div> 
          </div>
          <div class="col-lg-4 p-2">
            <div class=" text-center shadow-lg p-2   " style="  color: #000000; border-radius: 5%;">
              <img class="bd-placeholder-img rounded-circle mt-1" src="images/nur6.jpg" width="140" height="140"
                style="object-fit: cover; border: 5px solid  #ffc635;" alt=""><br>
              <span>⭐⭐⭐⭐</span>
              <div class="text-box">
                <h2 class="fw-normal mt-2">Heading</h2>
                <p class="text-center mt-2">Some representative placeholder content for the three columns of text below
                  the carousel. This is the first
                  column.</p>
              </div>
              <p class="mt-5"><a class="btn btn-star" href="#"  >View details
                  »</a></p>
            </div> 
          </div> -->
        </div>
    </section>








<!-- feculty -->

    <section>
      <div id="carouselExampleAutoplaying" class="carousel slide m-0 " data-bs-ride="carousel">
        <div class="carousel-inner p-5 mb-5" style="background-color:  #18162B;;">
          <div class="carousel-item active ">
            <div class="img-box">
              <img class="bd-placeholder-img rounded-circle mt-1 mb-4" src="images/t1.png" width="90"
                style="object-fit: cover; " alt=""><br>
              <span class="text-white">vjfvjfj</span>
            </div>

            <div class="carousel-caption ">

              <h5 class="">Jamia polytechnic college</h5>
              <p>This is a best coursein this field of study I took a lot of notes I leraend and so many.</p>

            </div>
          </div>
          <div class="carousel-item">
            <div class="img-box">
              <img class="bd-placeholder-img rounded-circle mt-1 mb-4" src="images/t1.png" width="90"
                style="object-fit: cover; " alt=""><br>
              <span class="text-white">yyyyy</span>
            </div>
            <div class="carousel-caption  ">
              <h5>A.G UNANI MEDICAL COLLEGE</h5>
              <p>Educate and qualify competent Unani Physicians with extensive knowledge of fundamental
                .</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="img-box">
              <img class="bd-placeholder-img rounded-circle mt-1 mb-4" src="images/t1.png" width="90"
                style="object-fit: cover; " alt=""><br>
              <span class="text-white">bbbbbbbbbb</span>
            </div>
            <div class="carousel-caption  ">
              <h5>A.G UNANI MEDICAL COLLEGE</h5>
              <p>Educate and qualify competent Unani Physicians with extensive knowledge of fundamental
                .</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon Previous-btn" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon Previous-btn" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>


    <footer class="site-footer mt-3 mb-3">
      <div class="container">
        <div class="content_line_footer"></div>
        <div class="row">
          <div class="col-md-3">
            <h6 class="fs-4 px-4">Programmes</h6>
            <ul class="footer-links">
              <li><a href="#">► IT Courses</a></li>
              <li><a href="#">► Vocational Courses</a></li>
              <li><a href="#">► Yoga &amp; Naturopathy
                  Courses</a></li>
              <li><a href="#">► Paramedical Courses</a></li>
              <li><a href="#">► Veterinary Courses</a></li>
              <li><a href="#">► Fire Safety Courses</a></li>
              <li><a href="#">►
                  Beauty &amp; Wellness Courses</a></li>
              <li><a href="#">► NTT Courses</a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <h6 class="fs-4 px-4">Quick Links</h6>
            <ul class="footer-links">
              <li><a href="#">► Result</a></li>
              <li><a href="#">► Admission</a></li>

              <li><a href="#">► Privacy Policy</a></li>
              <li><a href="#">► Refund and Cancellation Policy</a></li>
              <li><a href="#">► Terms &amp; Conditions</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 class="fs-4 px-4">Popular Course</h6>
            <ul class="footer-links">

              <li><a href="#">►
                  DMLT</a></li>
              <li><a href="#">►
                  X-RAY Technician</a></li>
              <li><a href="#">►
                  MRI</a></li>
              <li><a href="#">►
                  Nursing Assistant</a></li>
              <li><a href="#">►
                  Dresser</a></li>
              <li><a href="#">►
                  MPHW</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6></h6>
            <ul class="footer-links">
              <li><a href="#">►
                  OT Technician</a></li>
              <li><a href="#">►
                  DMRIT</a></li>
              <li><a href="#">►
                  ECG</a></li>
              <li><a href="#">►
                  Dialysis</a></li>
              <li><a href="#">►
                  Radiology Technician</a></li>
              <li><a href="#">►
                  CT Scan</a></li>
              <li><a href="#">►
                  Occupational Therapist</a></li>
              <li><a href="#">► CMS &amp; ED</a></li>
              <li>►<a href="#">Judi
                  Slot Online Gampang Menang</a></li>
            </ul>
          </div>

        </div>

      </div>

    </footer>
    <%- include('partials/footer.ejs') %>