<section>
    <div class="container-fluid position-relative">
        <div class="row  pb-0 pe-lg-0  rounded-3   overflow-hidden  ">
            <div class="col-lg-6 p-5   pt-lg-3">
                <h1 class="display-5   text-body-emphasis">About Us</h1>
                <p>Education Is The Key to Success</p>
                <p class="line"></p>
                <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the
                    world’s most
                    popular front-end open source toolkit, featuring Sass variables and mixins, </p>

            </div>
            <div class="col-lg-6 offset-lg-0 ">
                <img class="img-fluid" src="images/1.jpeg" alt="" width="100%" style="height: 70%;">
            </div>
        </div>
    </div>

</section>
<section>
    <div class=" text-center mt-3">
        <div class=" h2 btn-xs">
            The Next Step For Your Career
        </div>
        <div class="card-body">
            <h5 class="line mx-auto"></h5>
            <p class="card-text h6">We Promote Quality Education, Training and Research In Health and Medicine
                and Provide Affiliation to Institutes Registered With us. </p>

        </div>

    </div>
</section>






 background-image: linear-gradient(
      rgba(29, 38, 113, 0.8),
      rgba(78, 78, 255, 0.47)
    ),
    url("../images/bg.jpg");

    linear-gradient(
        rgba(29, 38, 113, 0.8),
        rgba(78, 78, 255, 0.47)
      ),
      url("../images/bg.jpg");


 